<%- include('../header.ejs') %>
<%- include('../menu.ejs') %>
<%- include('../sidebar.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title">头条句式列表</div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-12">
            <form id="form_reg" class="form-inline" role="form">
                <div class="form-group">
                    <% for(var i = 0, j = operator.length;i < j;i++){ %>
                    <button id="<%= operator[i]["label_id"] %>" type="button"
                            class="btn btn-default <%= operator[i]["label_class"] == "hidden" ? "hidden" : "" %>">
                    <span aria-hidden="true"
                          class="<%= operator[i]["label_class"] %>"><%= operator[i]["res_name"] %></span>
                    </button>
                    <% } %>
                </div>
                <div class="form-group">
                    <input name="search_condition" type="text" class="form-control" placeholder="句式名称">
                </div>
                <div class="form-group">
                    <button id="btn_query" type="button" style="margin-left:50px" class="btn btn-primary">查询
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="tb_reg"></table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document).attr("title", "<%= typeof title == "string" ? title : "首页" %>");
        //------------------获取页面元素--------------------------------
        var $form_reg = $("#form_reg");//表单
        var $tb_reg = $('#tb_reg');//表格
        var $btn_query = $("#btn_query");//查询
        //----------------------END-------------------------------------
        //----------------------表格-------------------------------------
        var mytable = new MyTable($tb_reg, $btn_query, $form_reg);
        mytable.bootStrap.url = '/toutiao/headlineReg/list';
        mytable.bootStrap.columns = [{
            checkbox: true
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'reg_info',
            title: '句式信息',
            order: "asc"
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'is_official',
            title: '句式来源',
            formatter: function (value, row, index) {
                var result = "-";
                if (value == 0) {
                    result = "官方";
                } else if (value == 1) {
                    result = "自己组织";
                }
                return result;
            }
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'memo',
            title: '备注'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'created_at',
            title: '创建时间',
            formatter: function (value) {
                return moment(value).utcOffset(8).format("YYYY-MM-DD HH:mm:ss");
            }
        }];
        $tb_reg.bootstrapTable(mytable.getBootStrap());
        //注册查询
        $btn_query.click(function () {
            $tb_reg.bootstrapTable('destroy').bootstrapTable(mytable.getBootStrap());
        });
        //----------------------END-------------------------------------
        //注册表格事件
        <% for(var i = 0, j = operator.length;i < j;i++){ %>
        <% if(operator[i]["label_id"] == "btn_del"){ %>
        //注册删除按钮的事件
        $("#btn_del").click(function () {
            mytable.delData("<%= operator[i]["res_url"] %>")
        });
        <% }else if(operator[i]["label_id"] == "btn_add"){ %>
        //注册新增按钮
        $("#btn_add").click(function () {
            mytable.addData("<%= operator[i]["res_url"] %>", "新增句式")
        });
        <% }else if(operator[i]["label_id"] == "btn_edit"){ %>
        //注册修改按钮
        $("#btn_edit").click(function () {
            mytable.editData("<%= operator[i]["res_url"] %>", "修改句式")
        });
        <% } %>
        <% } %>
    });
</script>
<%- include('../footer.ejs') %>