<%- include('../header.ejs') %>
<%- include('../menu.ejs') %>
<%- include('../sidebar.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title">订单基础数据列表</div>
        </div>
    </div>
    <form id="form_sale_list" role="form">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-inline" role="form">
                    <div class="form-group">
                        <% for(var i = 0, j = operator.length;i < j;i++){ %>
                        <button id="<%= operator[i]["label_id"] %>" type="button"
                                class="btn btn-default <%= operator[i]["label_class"] == "hidden" ? "hidden" : "" %>">
                            <span class="<%= operator[i]["label_class"] %>"><%= operator[i]["res_name"] %></span>
                        </button>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label">创建时间</label>
                        <div id='star_create_at' class='input-group date' style="width: 195px">
                            <input name="start_create_time" type='text' class="form-control"/>
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label ">至</label>
                        <div id='end_create_at' class='input-group date' style="width: 195px">
                            <input name="end_create_time" type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">结算时间</label>
                        <div id='start_balance_at' class='input-group date' style="width: 195px">
                            <input name="start_balance_time" type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">至</label>
                        <div id='end_balance_at' class='input-group date' style="width: 195px">
                            <input name="end_balance_time" type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-sm-12">
                <div class="form-inline" role="form">
                    <div class="form-group">
                        <label class="control-label">商品id</label>
                        <input name="goods_id" type="text" class="form-control" placeholder="商品id">
                    </div>
                    <div class="form-group">
                        <label class="control-label">订单号</label>
                        <input name="order_no" type="text" class="form-control" placeholder="订单号">
                    </div>
                    <div class="form-group">
                        <label class="control-label">订单状态</label>
                        <select name="order_status" class="selectpicker show-tick" multiple>
                            <% for(var i = 0, j = order_status.length;i < j;i++){ %>
                            <option value="<%= order_status[i]["order_status"] %>"> <%= order_status[i]["order_status"] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">广告位</label>
                        <select name="ad_name" class="selectpicker show-tick" multiple>
                            <% for(var i = 0, j = ad_names.length;i < j;i++){ %>
                            <option value="<%= ad_names[i]["ad_name"] %>"> <%= ad_names[i]["ad_name"] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="btn_query" type="button" class="btn btn-primary">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row" style="margin-top: 5px">
        <div class="col-sm-12">
            <table id="tb_sale_list"></table>
        </div>
    </div>
</div>
<script>
    $(document).attr("title", "<%= typeof title == "string" ? title : "首页" %>");
    //------------------获取页面元素--------------------------------
    var $form_sale_list = $("#form_sale_list");//查询表单
    var $tb_sale_list = $('#tb_sale_list');//表格
    var $btn_query = $("#btn_query");//查询按钮
    //表单控件
    var $star_create_at = $("#star_create_at");
    var $end_create_at = $("#end_create_at");
    var $start_balance_at = $("#start_balance_at");
    var $end_balance_at = $("#end_balance_at");
    var $order_status = $form_sale_list.find("select[name='order_status']");
    var $ad_name = $form_sale_list.find("select[name='ad_name']");
    //----------------------END-------------------------------------
    //------------------初始化时间控件、下拉控件--------------------
    dateControlInit($star_create_at, null, getThisMonthArray()[0]);
    dateControlInit($end_create_at, null, getThisMonthArray()[1]);
    dateControlInit($start_balance_at);
    dateControlInit($end_balance_at);
    //设置下拉多选框
    $order_status.selectpicker({
        'selectedText': 'cat'
    });
    $ad_name.selectpicker({
        'selectedText': 'cat'
    });
    //----------------------END-------------------------------------
    //------------------注册工具按钮--------------------------------
    <% for(var i = 0, j = operator.length;i < j;i++){ %>
    <% if(operator[i]["label_id"] == "btn_import"){ %>
    //注册导入按钮
    $("#btn_import").click(function () {
        mytable.addData("<%= operator[i]["res_url"] %>", "销售订单信息上传");
    });
    <% } %>
    <% } %>
    //----------------------END-------------------------------------
    //------------------表格参数初始化及事件监听--------------------
    var mytable = new MyTable($tb_sale_list, $btn_query, $form_sale_list);
    mytable.bootStrap.url = '/toutiao/saleInfo/list';
    mytable.bootStrap.sortName = "expect_amount";
    mytable.bootStrap.sortOrder = "desc";
    mytable.bootStrap.columns = [
        {
            checkbox: true
        }, {
            halign: "center",
            align: "center",
            width: 360,
            sortable: true,
            field: 'create_time',
            title: '创建时间',
            formatter: function (value) {
                return moment(value).utcOffset(8).format("YYYY-MM-DD HH:mm:ss");
            }
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'click_time',
            title: '点击时间',
            formatter: function (value) {
                return moment(value).utcOffset(8).format("YYYY-MM-DD HH:mm:ss");
            }
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'goods_info',
            title: '商品信息'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'goods_id',
            title: '商品ID',
            formatter: function (value, row, index) {
                var link_html = "<a target= '_blank' href='https://item.taobao.com/item.htm?id=" + value + "'>" + value + "</a>";
                return link_html;
            }
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'wangwang',
            title: '掌柜旺旺'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'shop',
            title: '所属店铺'
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'quantity',
            title: '商品数',
            footerFormatter: function (data) {
                return mytable.getColumnSum(data, "quantity", 0);
            }
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'sale_price',
            title: '商品单价'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'order_status',
            title: '订单状态'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'order_type',
            title: '订单类型'
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'income_perc',
            title: '收入比率'
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'share_perc',
            title: '分成比率'
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'pay_amount',
            title: '付款金额',
            footerFormatter: function (data) {
                return mytable.getColumnSum(data, "pay_amount", 0);
            }
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'expect_amount',
            title: '效果预估',
            footerFormatter: function (data) {
                return mytable.getColumnSum(data, "expect_amount", 0);
            }
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'balance_amount',
            title: '结算金额',
            footerFormatter: function (data) {
                return mytable.getColumnSum(data, "balance_amount", 0);
            }
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'expect_income',
            title: '预估收入',
            footerFormatter: function (data) {
                return mytable.getColumnSum(data, "expect_income", 0);
            }
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'balance_time',
            title: '结算时间',
            formatter: function (value) {
                return moment(value).utcOffset(8).format("YYYY-MM-DD HH:mm:ss");
            }
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'commission_perc',
            title: '佣金比率'
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'commission_amount',
            title: '佣金金额',
            footerFormatter: function (data) {
                return mytable.getColumnSum(data, "commission_amount", 0);
            }
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'pension_perc',
            title: '补贴比率'
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'pension_amount',
            title: '补贴金额',
            footerFormatter: function (data) {
                return mytable.getColumnSum(data, "pension_amount", 0);
            }
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'pension_type',
            title: '补贴类型'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'deal_platform',
            title: '成交平台'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'goods_type',
            title: '产品类型'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'order_no',
            title: '订单编号'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'goods_category',
            title: '类目名称'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'media_id',
            title: '来源媒体ID'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'media_name',
            title: '来源媒体名称'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'ad_id',
            title: '广告位ID'
        }, {
            halign: "center",
            align: "center",
            sortable: false,
            field: 'ad_name',
            title: '广告位名称'
        }, {
            halign: "center",
            align: "center",
            sortable: true,
            field: 'create_at',
            title: '导入时间',
            formatter: function (value) {
                return moment(value).utcOffset(8).format("YYYY-MM-DD HH:mm:ss");
            }
        }
    ];
    mytable.currentFormData = function () {
        var condition = {}
        var order_status_arr = $order_status.val();
        if (order_status_arr instanceof Array) {
            condition["order_status"] = order_status_arr.join(",");
        }
        var ad_name_arr = $ad_name.val();
        if (ad_name_arr instanceof Array) {
            condition["ad_name"] = ad_name_arr.join(",");
        }
        return condition;
    };
    $tb_sale_list.bootstrapTable(mytable.getBootStrap());
    //注册查询
    $btn_query.click(function () {
        $tb_sale_list.bootstrapTable('destroy').bootstrapTable(mytable.getBootStrap());
    });
</script>
<%- include('../footer.ejs') %>