<div class="container-fluid">
    <form id="form_env_auth_edit" class="form-horizontal" role="form">
        <div class="form-group" style="display: none">
            <label class="control-label">修改ID</label>
            <input name="edit_id" type="text" class="form-control" value="<%= editData["id"] %>" placeholder="ID">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">环境</label>
            <div class="col-sm-7">
                <input type="text" value="<%= editData["env_name"] %>" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">权限编号</label>
            <div class="col-sm-7">
                <select name="privilege_code" class="form-control ">
                    <% for (var i = 0, j = privileges.length;i < j;i++) { %>
                    <option value="<%= privileges[i]["privilege_code"] %>" <%= privileges[i]["privilege_code"] == editData["privilege_code"] ? "selected" : "" %>><%= privileges[i]["privilege_name"] %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">备注</label>
            <div class="col-sm-7">
                <input name="memo" type="text" value="<%= editData["memo"] %>" class="form-control" placeholder="备注">
            </div>
        </div>
        <div class="form-group" style="float: right">
            <button id="btn_env_auth_edit" type="button" class="btn btn-primary" data-dismiss="modal">提交</button>
            <button type="button" class="btn btn-primary ok" data-dismiss="modal">取消</button>
        </div>
    </form>
</div>
<script>
    //----------------------处理函数--------------------------------
    //表单提交
    $("#btn_env_auth_edit").click(function () {
        var url = "/tomcat/envAuth/edit";
        var form_data = new FormData($("#form_env_auth_edit")[0]);
        $.ajax({
            url: url,
            type: 'POST',
            data: form_data,
            async: true,
            contentType: false,
            processData: false,
            success: function (data) {
                var _obj = JSON.parse(data);
                if (_obj.status === "success") {
                    toastr.info(_obj.msg)
                } else {
                    toastr.warning(_obj.msg);
                }
            },
            error: function (data) {
                toastr.warning('内部服务器错误');
            },
            complete: function () {
                $("#tb_env_auth").bootstrapTable("refresh");
            }
        });
    });
    //----------------------END-------------------------------------
</script>